/* .App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #6ea4bb;
}

.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
  flex-direction: column;
  align-items: center; 
 
}

.TitleSection {
 
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(211, 200, 104);
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(211, 200, 104);
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: rgb(211, 200, 104);
  background-color: #006cbf
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection{
  background-color:rgb(211, 200, 104);
  display: flex;
  justify-content: center;
  /* width: 500px;
  height: 900px; */
  width: 60%;
  border-radius: 10px ;
  text-align: center;
  margin-bottom: 4em;
  border: solid #006cbf;
  
}

.c-pokemon{
 text-align: center;
 width: 100%;
 border-radius: 10px;
}
.c-pokemon{ box-shadow: 11px 6px 5px #006cbf ;
  opacity: 0.8;
}
.image{
  width: 289px;
  
  height: 230px;
  align-items: center;
  
}

.text{
  box-shadow: 17px 6px 5px rgb(235, 142, 20) ;
  opacity: 0.8;
}


